<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="MyMenuApp">
   <div class="container" ng-controller="MyMenuController as dish">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <!-- <table>
      <tr> -->
        <div class="form-group">
          <input type="text" placeholder="search term" class="form-control" ng-model="dish.searchString">
        </div>
        <div class="form-group narrow-button">
          <button class="btn btn-primary" ng-click="dish.listFound()">Narrow It Down For Me!</button>
        </div><br><br><br>
      <!-- </tr>
      <tr> -->
        <!-- found-items should be implemented as a component -->
        <found-items found="dish.found" on-remove="dish.removeItem(index)" nothing="dish.nothing"></found-items>
      <!-- </tr>
    </table> -->    
  </div>

</body>
</html>
